{% extends "nhaka/base.html" %}
{% block content %}
                    <section class="probootstrap-section" style="background-image: url(/static/player/img/dashboard.jpeg);" class="overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-left section-heading probootstrap-animate">
                                    <h1>Be that student your parents</br>
                                        wants you to be!!</h1>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="probootstrap-section" style=" padding: 0em 0;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="probootstrap-flex-block probootstrap-animate">
                                        <div class="container">
                                            <div class="row">
                                                <div class="span12">
                                                    <div class="well" style="opacity: 0.9;">
                                                        <div class="textzz">
                                                                {% block title %}My courses{% endblock %}
                                                            <p>Continue Learning >></p>
                                                            
                                                        </div>

                                                        
                                                        <div id="myCarousel" class="carousel fdi-Carousel slide">
                                                            <!-- Carousel items -->
                                                            <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                                                                    {% for course in object_list %}
                                                                <div class="carousel-inner onebyone-carosel">
                                                                    <div class="item active">
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Funani Ndou</span>
                                                                                    <h3 class="texty">{{ course.title }}</h3>
                                                                                    <p><a href="#" class="btn btn-primary">href="{% url "student_course_detail" course.id %}">
                                                                                            Access contents</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Nhaka Yehupenyu</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Arithmetic Sequences</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Application Design</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Application Design</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Application Design</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Application Design</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="col-md-4">
                                                                            <div class="probootstrap-service-2 probootstrap-animate">
                                                                                <div class="image">
                                                                                    <div class="image-bg">
                                                                                        <img src="/static/player/img/img_sm_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="text">
                                                                                    <span class="probootstrap-meta"><i class="icon-user-tie"></i> Nathan Nyabvure</span>
                                                                                    <h3 class="texty">Application Design</h3>
                                                                                    <p><a href="#" class="btn btn-primary">Resume</a> <span class="enrolled-count">2,928 students enrolled</span></p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
                                                                <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
                                                            </div>
                                                            <!--/carousel-inner-->
                                                        </div>
                                                        <!--/myCarousel-->
                                                    </div>
                                                    <!--/well-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="probootstrap-section" style="padding: 0em 0;">
                        <div class="container">
                            <h2 class="text-left textz">Recommended Courses </h2>
                            <hr class="style13">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_6.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Introduction to Algebra</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Nathan Nyabvure</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Introduction to Chemistry</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Nathan Nyabvure</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_2.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Nhaka Yehupenyu</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Funani Ndou</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_3.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">English Ventures</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Funani Ndou</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                            </div>
                            <hr class="style13">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_6.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Introduction to Biology</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Funani Ndou</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_1.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Home Economics</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Funani Ndou</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_2.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Introduction to Algebra</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Funani Ndou</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                                    <a href="#" class="probootstrap-featured-news-box">
                                        <figure class="probootstrap-media"><img src="/static/player/img/person_3.jpg" alt="Free Bootstrap Template by ProBootstrap.com" class="img-responsive"></figure>
                                        <div class="probootstrap-text">
                                            <h3 class="texty">Introduction to Algebra</h3>
                                            <span class="probootstrap-date"><i class="icon-user-tie"></i>Funani Ndou</span>
                                            <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm-block visible-xs-block"></div>
                            </div>
                        </div>
                    </section>
                
{% endblock %}